---
import Navigation from '../components/layout/Navigation.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

const { title ,description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <Header title={title} description={description}/>
    <body class="">
		<div class="">
			<Navigation />
			<div class="">
				<slot />
			</div>
			<Footer />
		</div>
    </body>
</html>


<style is:global>
	:root {
		--bg-green : #00b159;
		--bg-red : #d11141;
		--bg-blue : #00aedb;
		--bg-orange : #f37735;
		--bg-yellow : #ffc425;
		--bg-white : #eaeaee;
	}
	bg-green{
		background-color: #00b159;
	}
	bg-red{
		background-color: #d11141;
	}
	bg-blue{
		background-color: #00aedb;
	}
	bg-orange{
		background-color: #f37735;
	}
	bg-yellow{
		background-color: #ffc425;
	}
	text-primary{
		font-size: larger;
		color: #000000;
	}
	text-secondary{
		font-size: medium;
		color: #000000;
	}
	html {
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background: #ffffff;
	}
	body{
		width: 800px;
		margin: auto;
	}
</style>
